@keyframes rotateborder {
    0% {
        border: 3px solid rgba(0,0,0,1)
    }
    100% {
        border: 3px solid rgba(0,0,0,.1);
    }
}

@keyframes left100 {
    100% {
        transform: rotate(180deg);
    }
}

@keyframes left90 {
    100% {
        transform: rotate(180deg);
    }
}

@keyframes left80 {
    100% {
        transform: rotate(180deg);
    }
}

@keyframes left70 {
    100% {
        transform: rotate(180deg);
    }
}

@keyframes left60 {
    100% {
        transform: rotate(180deg);
    }
}

@keyframes right100 {
    100% {
        transform: rotate(180deg);
    }
}

@keyframes right90 {
    100% {
        transform: rotate(144deg);
    }
}

@keyframes right80 {
    100% {
        transform: rotate(108deg);
    }
}

@keyframes right70 {
    100% {
        transform: rotate(72deg);
    }
}

@keyframes right60 {
    100% {
        transform: rotate(36deg);
    }
}

.portfoilo_inner{
    .aboutcards{
        h3 {
            margin: 0 0 30px 0;
        }
        .aboutcard{
            position: relative;
            width: 100%;
            height: 100%;
            .lately {
                display: flex;
                flex-direction: column-reverse;
                width: calc(50% - 50px);
                .subdata{
                    .subdata_inner {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 10px;
                        margin-bottom: 20px;
                        transition: .5s;
                        box-sizing: border-box;
                        div{
                            .project_name{
                                font-weight: 600;
                                margin: 20px 5px 10px;
                            }
                            .project_date{
                                width:100%;
                                margin: 0 5px;
                                @media screen and(max-width: 410px){
                                    width:70px;
                                    margin: 0 5px;
                                }
                            }
                            .project_summary{
                                margin: 10px 5px;
                            }
                        }
                        .button_warp{
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            button {
                                display: inline-block;
                                margin-right: 10px;
                                width: 80%;
                                max-width: 250px;
                                font-weight: 600;
                                border: none;
                                border-radius: 15px;
                                padding: 5px;
                                margin-bottom: 20px;
                                @media screen and(max-width: 500px) {
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    align-items: center;
                                    margin-right: 0px;
                                }
                                span:first-child {
                                    margin-right: 5px;
                                    @media screen and(max-width: 500px) {
                                        margin-right: 0px;
                                    }
                                }
                            }
                        }
                    }
                    .subdata_inner.celect{
                        background: rgba(155, 155, 155,.3);
                        animation: rotateborder 1s infinite alternate-reverse;
                    }
                }
                .subdata:first-child {
                    .subdata_inner:last-child{
                        margin-bottom: 0;
                    }
                }
            }
            .subdata_detail {
                min-height: 400px;
                border-radius: 10px;
                background-size: cover !important;
                background-position: center center !important;
                .projectdata_text {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    height: 330px;
                    align-items: center;
                    margin-top: 30px;
                    text-align: center;
                    padding: 0 20px;
                    .projectdata_textbox{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 30%;
                        border-radius: 5px;
                        div{
                            margin-bottom: 10px;
                        }
                        div:last-child{
                            margin-bottom: 0;
                        }
                    }
                    .projectlinkbtn{
                        width:300px;
                        @media screen and(max-width: 767px) {
                            width:100%;
                        }
                        a{
                            button{
                                width:100%;
                                height: 30px;
                                border: none;
                                border-radius: 25px;
                                transition: .5s;
                                font-weight: 600;
                            }
                        }
                        a:hover{
                            button{
                                transform: scale(.9);
                            }
                        }
                    }
                }
                .circle_wrap{
                    position: absolute;
                    height: 100px;
                    width: 100px;
                    top:50%;
                    left:50%;
                    transform: translate(-50%, -50%) scale(1.8);
                    @media screen and(max-width: 767px) {
                        transform: translate(-50%, -50%) scale(1.5);
                    }
                    @media screen and(max-width: 450px) {
                        transform: translate(-50%, -50%) scale(1);
                    }
                    .circle_inner {
                        position: absolute;
                        z-index: 6;
                        top: 50%;
                        left: 50%;
                        height: 80px;
                        width: 80px;
                        margin: -40px 0 0 -40px;
                        background: rgb(41, 42, 45);
                        border-radius: 100%;
                        box-shadow: 0 1px 0 rgba(0,0,0,.2);
                    }
                    .circle{
                        .bar.left{
                            .progress{
                                animation: left100 1s linear both;
                            }
                        }
                        .bar.right {
                            transform: rotate(180deg);
                        }

                        .bar {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            border-radius: 100%;
                            background: rgba(51, 52, 55,.1);
                            -webkit-border-radius: 100%;
                            clip: rect(0px, 100px, 100px, 50px);
                            .progress {
                                position: absolute;
                                width: 100%;
                                height: 100%;
                                background: rgb(241, 242, 245);
                                border-radius: 100%;
                                -webkit-border-radius: 100%;
                                clip: rect(0px, 50px, 100px, 0px);
                            }
                        }
                    }
                    .circle.hundred {
                        .bar.left {
                            .progress {
                                animation: left100 1s linear both;
                            }
                        }
                        .bar.right {
                            .progress {
                                animation: right100 1s linear both;
                                animation-delay: 1s;
                            }
                        }
                    }
                    .circle.ninety {
                        .bar.left {
                            .progress {
                                animation: left90 1s linear both;
                            }
                        }
                        .bar.right {
                            .progress {
                                animation: right90 .9s linear both;
                                animation-delay: 1s;
                            }
                        }
                    }
                    .circle.eighty {
                        .bar.left {
                            .progress {
                                animation: left80 1s linear both;
                            }
                        }
                        .bar.right {
                            .progress {
                                animation: right80 .8s linear both;
                                animation-delay: 1s;
                            }
                        }
                    }
                    .circle.seventy {
                        .bar.left {
                            .progress {
                                animation: left70 1s linear both;
                            }
                        }
                        .bar.right {
                            .progress {
                                animation: right70 .5s linear both;
                                animation-delay: 1s;
                            }
                        }
                    }
                    .circle.sixty {
                        .bar.left {
                            .progress {
                                animation: left60 1s linear both;
                            }
                        }
                        .bar.right {
                            .progress {
                                animation: right60 .3s linear both;
                                animation-delay: 1s;
                            }
                        }
                    }
                    .progress_text{
                        position: absolute;
                        top:50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 10;
                        font-size: 24px;
                        .progress_subtext{
                            font-size: 12px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}