.portfoilo_inner{
    .aboutcards{
        h3 {
            margin: 0 0 30px 0;
        }
        .aboutcard{
            position: relative;
            width: 100%;
            height: 100%;
            .lately {
                display: flex;
                flex-direction: column;
                width: calc(50% - 50px);
                .subdata{
                    .subdata_inner {
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: space-between;
                        align-items: center;
                        border-radius: 10px;
                        margin-bottom: 20px;
                        div{
                            padding: 10px;
                        }
                        .button_warp{
                            width: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            button {
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
            .subdata_detail{
                height: 500px;
                border-radius: 10px;
            }
        }
    }
}