.cerousel_wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    h1{
        font-size: 22px;
        margin-bottom: 20px;
    }
    .cerousel_cards{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 150px;
        background: darkgrey;
        overflow: hidden;
        border-radius: 10px;
        .cerousel_card{
            background: gray;
            margin-right: 30px;
            text-align: center;
            padding: 10px 0;
            box-sizing: border-box;
            border-radius: 10px;
            user-select: none;
        }
        .cerousel_card:first-child{
            margin-left: 15px;
        }
        .cerousel_card:last-child{
            margin-right: 0px;
        }
    }
}